/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

@import url("https://fonts.googleapis.com/css2?family=Galada");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@1");
/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: 'Galada', cursive;
  font-size: 14px;
  line-height: 1.5;
  padding-left: 1.5em;
  background-color: cornsilk;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Mono", monospace;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
  color: #d6fcff;
  color: darkslateblue;
}

strong {
  font-weight: bold;
}

address {
  margin: 0 0 1.5em;
}

img {
  display: block;
  border: 0;
  width: auto;
  height: 200px;
}

.section-content {
  padding: 1.4em;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}